<div class="container">
  <% if flash.now[:notice] %>
    <div class="alert alert-info mt-4" role="alert">
      <%= flash.now[:notice] %>
    </div>
  <% end %>
  <% if flash.now[:alert] %>
    <div class="alert alert-danger mt-4" role="alert">
      <%= flash.now[:alert] %>
    </div>
  <% end %>
</div>